<nav>
  <ul>
    <li><a href="/savedConnections/login" target="_self">Login</a></li>
    <li><a href="/savedConnections/signup" target="_self">Sign Up</a></li>
  </ul>
</nav>

<nav id=navigation>
  <ul>
    <li><a href="/" target="_self">Home</a></li>
    <li><a href="/connections" target="_self">Connections</a></li>
  </ul>
</nav>
